@import "tailwindcss";

body{
  background: #b4b4b41b;
}

.react-calendar {
  /* width: 100%; */
  background: White;
  border: none;
  border-radius: 2rem;
  color: black;
}

.react-calendar__tile--active {
  background: white !important;
  color: Black !important;
  border-radius: 100%;
}

.react-calendar__tile--now {
  background: #e0f2fe !important;
  border-radius: 0.5rem;
  color:#233e87
}
